<!DOCTYPE html>
<html>
<head>
 

  <title>Multi User Blog </title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
 

<div class="container">
   <div class="row">
 

     <div class="col-md-8 col-sm-8 col-xs-8">
       
 <a href="/blog" class="media-object">
    <img src="/static/img/logo.png" alt="miicreativemedia">
  </a>

     </div>



     <div class="col-md-4 col-sm-4 login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
                    <a href="/blog/newpost" class="btn btn-danger">New Post</a>

    {% else %}
      <a class="btn btn-primary login-link" href="/login">login</a>
      
      <a class="btn btn-primary login-link" href="/signup">signup</a>
    {% endif %}

     </div>
      </div>
  </div>



<div class="container">

  <main class="col-md-12">
    

<div id="content">
  {% block content %}
  {% endblock %}
  </div>
    
  </main>
 </div>

  





<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>

</html>

